body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

table, th, td {
    border: 1px solid black
}

th, td {
    margin: auto;
}
h1 {
    width: 1000px;
    margin: 0 auto;
}
.gazou01 {
    width: auto;
    height: 200px;
    margin: 0 auto;
    background-image:url("灰色背景画像.jpg");
    background-repeat: repeat-x;
}
.gazou02 {
    width: auto;
    height: 180px;
    margin: 0 0;
    background-image:url("灰色背景画像.jpg");
    background-repeat: repeat-x;
}

#title {
    margin: 0px auto 0;
    padding: 0px;
    border: 5px solid #999;
    width: 2000px;
    height: 120px;
    color: white;
    background-color: #999;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    font-size: 50px;
}

#footer {
  margin: 0px auto 0;
  padding: 0px;
  border: 5px solid #999;
  width: 2000px;
  height: 100px;
  color: white;
  background-color: #999;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
  font-size: 50px;
}

#kinoumain {
    margin: 100px auto 100px auto;
    border: 4px solid #4CAF99;
    border-radius: 16px;
    width: 450px;
    height: 175px;
    color: white;
    background-color: #4CAF50;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    font-weight: 200px;
    display: grid;
    place-items: center;
    vertical-align: middle;
    font-weight: bold;
}
.kinouyo {
    margin: 100px auto;
    border: 4px solid #4CAF99;
    border-radius: 16px;
    width: 300px;
    height: 150px;
    color: white;
    background-color: #4CAF50;
    font-size: 50px;
    top: 100px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    display: grid;
    place-items: center;
    vertical-align: middle;
    font-weight: bold;
    text-align-last: justify;
}
